<h1>SSL certificate expiration notification</h1>
<p>
  Your SSL certificate for domain <%= @domain.url %> will expire in <%= @domain.alert_level %> days |
  Renew it before <%= @domain.expire_date %>
</p>
