# encoding: UTF-8

defaults: &defaults
  status: &defaults_status open # open | close

  from: &from 'xxx'
  to: &to xxxx

  smtp:
    address:
    domain:
    port: 25
    authentication: :login
    enable_starttls_auto: false
    openssl_verify_mode: none
    user_name:
    password:

development: &development
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults